DEBUG_MODE = 0
DISPLAY_ERROR_ALL = 0
ADMIN_LOGIN_ID = hogehoge
ADMIN_LOGIN_PW = hogehoge
DB_HOST = localhost
DB_NAME = db_name
DB_USER = db_user
DB_PASS = db_pass
ONIGIRI_DB_HOST = localhost
ONIGIRI_DB_NAME = onigiri_db_name
ONIGIRI_DB_USER = onigiri_db_user
ONIGIRI_DB_PASS = onigiri_db_pass
WWW_ROOT_URL = https://hogehoge
USE_DYNAMO_DB = 1
DYNAMO_DB_ACCESS_TOKEN_TABLE = hogehoge-access-token
DYNAMO_DB_LOGIN_TOKEN_TABLE = hogehoge-login_token
DYNAMO_DB_AUTO_LOGIN_TOKEN_TABLE = hogehoge-auto_login_token
ONIGIRI_API = https://hogehoge.net/
ONIGIRI_BASIC_AUTH_FLAG = 0
ONIGIRI_BASIC_AUTH_USER = null
ONIGIRI_BASIC_AUTH_PASSWORD = null
ONIGIRI_USER_API = https://hogehoge.net/adminApi/
ONIGIRI_NOTIFICATION_FLAG = 0
ONIGIRI_NOTIFICATION_API = https://hogehoge.net/adminApi/
MAIL_SMTP_HOST = mail.example.com
MAIL_SMTP_USER_NAME = user
MAIL_SMTP_PASSWORD = password
MAIL_SMTP_PORT = 587
MAIL_SMTP_SECURE = ssl
MAIL_FROM_ADDRESS = from@example.com
MAIL_FROM_NAME = from
MAIL_REPLY_ADDRESS = reply@example.com
MAIL_REPLY_NAME = reply@example.com
MAIL_RETURN_PATH = reply@example.com
MAIL_BCC = bcc@example.com
FIREBASE_PROJECT_ID = hogehoge
DENSHI_SHOSEKI_API = https://hogehoge
DENSHI_SHOSEKI_API_KEY = hogehoge