table.statistics {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

table.statistics td,
table.statistics tr,
table.statistics th {
    border: 1px solid #ddd;
    padding: 8px;
}

table.statistics .table-success {
    background-color: #d1e7dd;
    border-color: #bcd0c7;
}

table.statistics .table-success td,
table.statistics .table-success tr,
table.statistics .table-success th {
    border-color: #bcd0c7;
}

table.statistics .text-success {
    color: #198754; !important
}

.bar {
    background-color: #2a333b;
}
.correct_bar {
    background-color: #349e67;
}
.bar, .correct_bar {
    height: 28px;
}

.download-btn {
    color: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
}